## Processing Sanctions data

In [16]:
import pandas as pd

In [17]:
data_loc = '../data/'

## Loading files

In [18]:
sanctions = pd.read_csv(data_loc + "NDA_Castellum_bycountry_bydate.csv")
sanctions.head()

,X.1,22 February,23 February,24 February,25 February,26 February,27 February,28 February,1 March,2 March,...,27 April,3 May,4 May,6 May,8 May,17 May,20 May,31 May,2 June,14 April.1
0,Australia,NaN,NaN,37.0,347.0,17.0,NaN,5.0,NaN,7.0,...,NaN,110.0,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,416.0,NaN,NaN,NaN,NaN,18.0,NaN,...,204.0,NaN,NaN,NaN,24.0,NaN,14.0,23.0,NaN,NaN
2,EU,5.0,NaN,363.0,99.0,NaN,NaN,NaN,27.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,France,5.0,NaN,NaN,361.0,NaN,97.0,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Switzerland,NaN,NaN,NaN,368.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
sanctions = sanctions.fillna(0.0).T
sanctions.head()

                     0       1      2       3            4     5     6
X.1          Australia  Canada     EU  France  Switzerland    UK    US
22 February        0.0     0.0    5.0     5.0          0.0   8.0  56.0
23 February        0.0     0.0    0.0     0.0          0.0   0.0   2.0
24 February       37.0   416.0  363.0     0.0          0.0  11.0  85.0
25 February      347.0     0.0   99.0   361.0        368.0   2.0   4.0

In [20]:
columns = sanctions.iloc[0].values
print(columns)
rename_dict = dict(zip(range(len(columns)), columns))

sanctions = sanctions.iloc[1:].rename(columns=rename_dict)
sanctions.head()

['Australia' 'Canada' 'EU' 'France' 'Switzerland' 'UK' 'US']

            Australia Canada     EU France Switzerland    UK    US
22 February       0.0    0.0    5.0    5.0         0.0   8.0  56.0
23 February       0.0    0.0    0.0    0.0         0.0   0.0   2.0
24 February      37.0  416.0  363.0    0.0         0.0  11.0  85.0
25 February     347.0    0.0   99.0  361.0       368.0   2.0   4.0
26 February      17.0    0.0    0.0    0.0         0.0   0.0   0.0

In [21]:
# pd.to_datetime(sanctions.reset_index()['index'])
tmp = sanctions.reset_index()['index'].str.split('.').apply(lambda x:x[0]+" 2022")
tmp = pd.to_datetime(tmp)
tmp[:10]

0   2022-02-22
1   2022-02-23
2   2022-02-24
3   2022-02-25
4   2022-02-26
5   2022-02-27
6   2022-02-28
7   2022-03-01
8   2022-03-02
9   2022-03-03
Name: index, dtype: datetime64[ns]

In [22]:
sanctions = sanctions.reset_index(drop=True)
sanctions['date'] = tmp
sanctions.head()

  Australia Canada     EU France Switzerland    UK    US       date
0       0.0    0.0    5.0    5.0         0.0   8.0  56.0 2022-02-22
1       0.0    0.0    0.0    0.0         0.0   0.0   2.0 2022-02-23
2      37.0  416.0  363.0    0.0         0.0  11.0  85.0 2022-02-24
3     347.0    0.0   99.0  361.0       368.0   2.0   4.0 2022-02-25
4      17.0    0.0    0.0    0.0         0.0   0.0   0.0 2022-02-26

In [23]:
sanctions = sanctions.sort_values('date')

In [24]:
sanctions.loc[(sanctions.date >= pd.to_datetime("2022-02-15")) & (sanctions.date <= pd.to_datetime("2022-05-24"))]

   Australia Canada     EU France Switzerland     UK     US       date
0        0.0    0.0    5.0    5.0         0.0    8.0   56.0 2022-02-22
1        0.0    0.0    0.0    0.0         0.0    0.0    2.0 2022-02-23
2       37.0  416.0  363.0    0.0         0.0   11.0   85.0 2022-02-24
3      347.0    0.0   99.0  361.0       368.0    2.0    4.0 2022-02-25
4       17.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-02-26
5        0.0    0.0    0.0   97.0         0.0    0.0    0.0 2022-02-27
6        5.0    0.0    0.0    0.0         3.0    3.0    4.0 2022-02-28
7        0.0   18.0   27.0   27.0         0.0    9.0    0.0 2022-03-01
8        7.0    0.0   24.0    0.0         0.0    0.0    0.0 2022-03-02
9        0.0    0.0    0.0   22.0         0.0    2.0   92.0 2022-03-03
10       0.0   20.0    0.0    1.0       197.0    0.0    0.0 2022-03-04
11      17.0   20.0    0.0    0.0         0.0    0.0    0.0 2022-03-07
12       0.0    0.0  160.0    0.0         0.0    7.0    0.0 2022-03-10
13       0.0   37.0    0.0  159.0         0.0  386.0   35.0 2022-03-11
14      34.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-03-13
15       0.0    0.0    1.0    0.0         0.0    0.0    0.0 2022-03-14
16       0.0   15.0   24.0    0.0         0.0  373.0   15.0 2022-03-15
17       0.0    0.0    0.0   24.0       206.0    0.0    0.0 2022-03-16
18      15.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-03-17
19       0.0    0.0    2.0    0.0         0.0    0.0    0.0 2022-03-18
20      44.0  160.0    0.0    0.0         0.0   60.0  397.0 2022-03-24
21       0.0    0.0    0.0    0.0        94.0    0.0    0.0 2022-03-25
22      40.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-03-29
23       0.0    0.0    0.0    0.0         0.0   17.0   34.0 2022-03-31
24       0.0    9.0    0.0    0.0         0.0    0.0    2.0 2022-04-05
25       0.0    0.0    0.0    0.0         0.0    9.0   75.0 2022-04-06
26      66.0    0.0    0.0    0.0         0.0    0.0   37.0 2022-04-07
27       0.0    0.0    0.0    0.0         0.0    3.0    0.0 2022-04-08
28       0.0   34.0  235.0    3.0         0.0    0.0    0.0 2022-04-11
29       0.0    0.0    0.0  232.0         0.0    0.0    0.0 2022-04-12
30      13.0    0.0    0.0    0.0       235.0  206.0    0.0 2022-04-13
45       0.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-04-14
31       0.0    0.0    0.0    0.0         0.0    2.0    0.0 2022-04-14
32       2.0   15.0    0.0    0.0         0.0    0.0    0.0 2022-04-19
33       0.0    0.0    0.0    0.0         0.0    0.0   69.0 2022-04-20
34     146.0    0.0    2.0    0.0         0.0   26.0    0.0 2022-04-21
35       0.0    0.0    9.0    0.0         0.0    0.0    0.0 2022-04-25
36       0.0  204.0    0.0    0.0         0.0    0.0    0.0 2022-04-27
37     110.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-05-03
38       0.0    0.0    0.0    0.0         2.0    0.0    0.0 2022-05-04
39       0.0    0.0    0.0    0.0         0.0    0.0    1.0 2022-05-06
40       0.0   24.0    0.0    0.0         0.0    0.0  124.0 2022-05-08
41      30.0    0.0    0.0    0.0         0.0    0.0    0.0 2022-05-17
42       0.0   14.0    0.0    0.0         0.0    0.0    0.0 2022-05-20

In [25]:
sanctions.to_csv(data_loc+"NDA_Castellum_bycountry_bydate_cleaned.csv", index=False)